RewriteEngine On

RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.bigleap.ae/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.bigleap.ae/$1 [L,R=301]

RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L]

Redirect 301 /www.dot.com  https://www.bigleap.ae/
Redirect 301 /graphic-designing.html  https://www.bigleap.ae/ui-and-ux-design.html
Redirect 301 /blog-details.html  https://www.bigleap.ae/blogs.html 
Redirect 301 /mobile-application.html  https://www.bigleap.ae/mobile-app-development.html  
Redirect 301 /client/rhinofloor-floor-flooring-solutions.php  https://www.bigleap.ae/ 
Redirect 301 /website-development.html  https://www.bigleap.ae/website-designing-and-development.html
Redirect 301 /why-your-business-needs-a-strong-online-presence.html  https://www.bigleap.ae/blogs/why-your-business-needs-a-strong-online-presence.html
Redirect 301 /importance-of-UI-and-UX-in-website-design.html  https://www.bigleap.ae/blogs/importance-of-UI-and-UX-in-website-design.html
Redirect 301 /how-does-search-engine-optimisation-benefit-your-website.html  https://www.bigleap.ae/blogs/how-does-search-engine-optimisation-benefit-your-website.html
Redirect 301 /culture.php https://www.bigleap.ae/
Redirect 301 /strategy.php https://www.bigleap.ae/
Redirect 301 /strategy-services.php https://www.bigleap.ae/
Redirect 301 /A  https://www.bigleap.ae/
Redirect 301 /blogs/photography-and-videography.html https://www.bigleap.ae/blogs.html
Redirect 301 /brand.php https://www.bigleap.ae/branding.html
Redirect 301 /client/pick-drop-deliver-packages-within-city.php  https://www.bigleap.ae/
Redirect 301 /digital-marketing-services.php  https://www.bigleap.ae/digital-marketing.html
Redirect 301 /services.php  https://www.bigleap.ae/services.html
Redirect 301 /photography-services.php  https://www.bigleap.ae/photography-and-videography.html
Redirect 301 /home.php  https://www.bigleap.ae/
Redirect 301 /branding-services.php  https://www.bigleap.ae/branding.html
Redirect 301 /digital.php  https://www.bigleap.ae/digital-marketing.html
Redirect 301 /client/camila-natural-natural-nourishment.php  https://www.bigleap.ae/
Redirect 301 /client/yesmachinery-machines-pssibilites.php  https://www.bigleap.ae/
Redirect 301 /client/alshurooq-precision-quality-&-reliability.php  https://www.bigleap.ae/
Redirect 301 /client/habitat-school-integrating-artificial-narrow-intelligence.php  https://www.bigleap.ae/
Redirect 301 /mobile-application.html  https://www.bigleap.ae/mobile-app-development.html
Redirect 301 /project-details.html  https://www.bigleap.ae/portfolio.html
Redirect 301 /graphic-designing.html  https://www.bigleap.ae/ui-and-ux-design.html
Redirect 301 /blog-details.html  https://www.bigleap.ae/blogs.html
Redirect 301 /photography.php  https://www.bigleap.ae/photography-and-videography.html

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php82” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
